#navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px;
  margin-top: 15px;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li {
  padding: 0 20px;
}

#navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

#navbar a:hover,
#navbar a:focus,
#navbar a.active {
  color: #007bff;
}

@media (max-width: 768px) {
  #navbar {
    width: 100%;
    border-radius: 0;
    top: 0;
    margin-top: 0;
  }
}
