#navbar {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #333;
}
#navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li {
  padding: 0 20px;
}

#navbar a {
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
}

#navbar .dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  #navbar {
    width: 100%;
    border-radius: 0;
    top: 0;
  }
}

#name {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 0 20px;
}
