/* General Styles */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #0a192f;
  color: #e4e4e4;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #172a45;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 28px;
  margin: 0;
  color: #64ffda;
  text-shadow: 0 0 10px rgba(100, 255, 218, 0.5);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 30px;
}

nav a {
  color: #ccd6f6;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 16px;
  font-weight: 500;
}

nav a:hover {
  color: #64ffda;
}

/* Main Content Styles */
main {
  padding: 40px;
}

section {
  margin-bottom: 60px;
}

h2 {
  font-size: 24px;
  color: #64ffda;
  text-shadow: 0 0 10px rgba(100, 255, 218, 0.5);
  margin-bottom: 20px;
}

/* APOD Styles */
#apod {
  text-align: center;
}

#apod img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#apod p {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 16px;
}

/* Mars Gallery Styles */
#marsGallery img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px;
  transition: transform 0.3s ease;
}

#marsGallery img:hover {
  transform: scale(1.05);
}

#pagination button {
  background-color: #172a45;
  color: #ccd6f6;
  border: none;
  padding: 12px 24px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: 500;
}

#pagination button:hover {
  background-color: #64ffda;
  color: #0a192f;
}

/* Stats Styles */
#stats div {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #172a45;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#stats h2 {
  margin-top: 0;
}

#stats p {
  line-height: 1.6;
  font-size: 16px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    margin-top: 20px;
  }
}

/* Rover Info Styles */
#roverInfo {
  background-color: #172a45;
  color: #ccd6f6;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#roverInfo h3 {
  margin-top: 0;
}

#roverInfo p {
  line-height: 1.6;
  font-size: 16px;
}

/* Style the footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #172a45;
  color: #ccd6f6;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
