body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  margin-bottom: 10px;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
