body {
  margin: 0;
  padding: 0;
}

header,
footer {
  width: 100%;
  text-align: center;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
}

#left_side,
#right_side,
#content_area {
  padding: 20px;
}

#left_side {
  flex: 1;
  background-color: #f56600; /* Clemson Orange */
}

#content_area {
  flex: 2;
  background-color: #ffffff;
}

#right_side {
  flex: 1;
  background-color: #522d80; /* Clemson Regalia */
}

h1 {
  margin: 0;
}

#left_side ul {
  list-style: none;
  padding: 0;
}

#left_side li a {
  font-size: 12pt;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 5px;
}

#left_side li a:hover {
  color: #ffffff;
  background-color: #e45b00; /* Slightly darker orange for hover */
}
a header,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures that the image does not overflow the container */
}

header {
  height: 200px; /* Set desired height */
  background-image: url("assets/clemson-stadium.jpeg");
  background-size: cover;
  background-position: center;
}

footer {
  height: 200px; /* Set desired height */
  font-size: 1.2em;
  background-image: url("assets/clemson-paw.jpeg");
  background-size: cover;
  background-position: center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  #wrapper {
    flex-direction: column;
  }
  #left_side,
  #right_side,
  #content_area {
    width: auto;
  }
  header,
  footer {
    height: 150px; /* Adjust height for smaller screens */
  }
}
