@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: black;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-header {
  padding-bottom: 30px;
}

.main-body {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("Images/Header Background.jpg");
  background-blend-mode: multiply;
  background-size: cover;
}

.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  color: white;
}

.band-name-large {
  font-size: 8em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-header {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 2.5em;
}

.about-band-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}

.main-footer {
  color: white;
  padding: 0.25em 0;
  text-align: center; /* Center the footer content */
}

.main-footer-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the container */
}

.main-footer-container ul {
  display: flex;
  justify-content: center; /* Center the list */
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove default list styling */
}

.footer-nav li {
  padding: 0 1em; /* Adjust padding for visual separation */
}

.footer-nav img {
  width: 15px;
  height: 15px;
}
.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
  background-color: white;
  color: black;
}

.btn-header {
  margin: 0.5em 15% 2em 15%;
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.5em;
  font-weight: 100;
  padding-left: 2em;
  padding-right: 2em;
  border: none;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  transition: 0.3s;
}

.btn-header:hover {
  background-color: rgba(242, 242, 242, 0.3);
  transition: 0.3s;
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: black;
  font-size: 4em;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  backdrop-filter: blur(5px);
  border-radius: 50%;
}

.btn-primary {
  color: black;
  background-color: white;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #aaa;
  transition: 0.3s;
}
.tour-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tour-row:last-child {
  border: none;
}

.tour-item {
  display: inline-block;
  padding-right: 0.5em;
}

.tour-date {
  color: #ccc;
  width: 15%;
  font-weight: bold;
}

.tour-city {
  width: 24%;
}

.tour-arena {
  width: 42%;
}

.tour-btn {
  max-width: 19%;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  max-width: 300px;
}

.shop-item-price {
  flex-grow: 1;
  color: white;
}

.shop-item p {
  color: white;
  max-width: 300px;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #ccc;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #ccc;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #ccc;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #eee;
  color: #ccc;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #ccc;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

.btn,
.btn-header,
.btn-play,
.btn-primary,
.tour-btn,
.btn-danger,
.btn-purchase {
  border: none;
}
