body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

#wordToGuess {
  font-size: 24px;
  letter-spacing: 2px;
}

#letters input {
  margin-right: 10px;
}

#gallows01 {
	background-color: light-blue;
	font-size: 24px;
	margin-right: 10px;
}

#gallows02 {
	background-color: light-blue;
	font-size: 24px;
	margin-right: 10px;
}
#gallows03 {
	background-color: light-blue;
	font-size: 24px;
	margin-right: 10px;
}
